<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Concrete Durability</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="concretedurability/common.css" />
</head>
<body>
<div id="wrapper">
  <div id="header"> <a href="{site_path}"><img src="concretedurability/images/logo_header.gif" alt="" width="203" height="102" class="logo" /></a> </div>
  <ul id="nav">
    <li><a href="">Home</a></li>
    <li><a href="">Corrosion</a></li>
    <li><a href="">Carbonation</a></li>
    <li><a href="">Login</a></li>
  </ul>
  <div id="content" class="clearfix">
    <div id="col_1">
      <h2>Menu</h2>
      <ul id="subnav">
		{menu}
      </ul>
    </div>
    <div id="col_2">
		{main}
    </div>
  </div>
  <div id="footer"><small>All content copyright &copy; 2008 MoradaDigital, all rights reserved.<br />
    Layout by <a href="http://cssweblayouts.com/" target="_blank">CSS Web Layouts</a></a></small></div>
</div>
</body>
</html>
