b {height:37px; width:37px; margin-right:5px; display:block; float:left;}
b span {display:none;}
.drop-a {background:url(http://localhost/sitebuilder/tmp/images/a.png) no-repeat;}
.drop-b {background:url(http://localhost/sitebuilder/tmp/images/b.png) no-repeat;}
.drop-c {background:url(http://localhost/sitebuilder/tmp/images/c.png) no-repeat;}
.drop-d {background:url(http://localhost/sitebuilder/tmp/images/d.png) no-repeat;}
.drop-e {background:url(http://localhost/sitebuilder/tmp/images/e.png) no-repeat;}
.drop-f {background:url(http://localhost/sitebuilder/tmp/images/f.png) no-repeat;}
.drop-g {background:url(http://localhost/sitebuilder/tmp/images/g.png) no-repeat;}
.drop-h {background:url(http://localhost/sitebuilder/tmp/images/h.png) no-repeat;}
.drop-i {background:url(http://localhost/sitebuilder/tmp/images/i.png) no-repeat;}
.drop-j {background:url(http://localhost/sitebuilder/tmp/images/j.png) no-repeat;}
.drop-k {background:url(http://localhost/sitebuilder/tmp/images/k.png) no-repeat;}
.drop-l {background:url(http://localhost/sitebuilder/tmp/images/l.png) no-repeat;}
.drop-m {background:url(http://localhost/sitebuilder/tmp/images/m.png) no-repeat;}
.drop-n {background:url(http://localhost/sitebuilder/tmp/images/n.png) no-repeat;}
.drop-o {background:url(http://localhost/sitebuilder/tmp/images/o.png) no-repeat;}
.drop-p {background:url(http://localhost/sitebuilder/tmp/images/p.png) no-repeat;}
.drop-q {background:url(http://localhost/sitebuilder/tmp/images/q.png) no-repeat;}
.drop-r {background:url(http://localhost/sitebuilder/tmp/images/r.png) no-repeat;}
.drop-s {background:url(http://localhost/sitebuilder/tmp/images/s.png) no-repeat;}
.drop-t {background:url(http://localhost/sitebuilder/tmp/images/t.png) no-repeat;}
.drop-u {background:url(http://localhost/sitebuilder/tmp/images/u.png) no-repeat;}
.drop-v {background:url(http://localhost/sitebuilder/tmp/images/v.png) no-repeat;}
.drop-w {background:url(http://localhost/sitebuilder/tmp/images/w.png) no-repeat;}
.drop-x {background:url(http://localhost/sitebuilder/tmp/images/x.png) no-repeat;}
.drop-y {background:url(http://localhost/sitebuilder/tmp/images/y.png) no-repeat;}
.drop-z {background:url(http://localhost/sitebuilder/tmp/images/z.png) no-repeat;}
