<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">td img {display: block;}body {
	background-image: url(novas_energias/bg.jpg);
	background-repeat: repeat;
}
</style>
</head>
<body bgcolor="#ffffff">
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
   <td><img name="novas_energias_r1_c1" src="novas_energias/novas_energias_r1_c1.jpg" width="1024" height="191" border="0" id="novas_energias_r1_c1" alt="" /></td>
  </tr>
  <tr>
   <td style="background:url(novas_energias/novas_energias_r2_c1.jpg) repeat-x" width="1024" height="40" >{menu}</td>
  </tr>
  <tr>
   <td><img name="novas_energias_r3_c1" src="novas_energias/novas_energias_r3_c1.jpg" width="1024" height="59" border="0" id="novas_energias_r3_c1" alt="" /></td>
  </tr>
  <tr>
   <td><table align="left" border="0" cellpadding="0" cellspacing="0" width="1024">
	  <tr>
	   <td width="233" height="495" valign="top" style="background:url(novas_energias/novas_energias_r4_c1.jpg) repeat-x" >{cell-1}</td>
	   <td valign="top" bgcolor="#FFFFFF">{main}</td>
	  </tr>
	</table></td>
  </tr>
  <tr>
   <td><img name="novas_energias_r5_c1" src="novas_energias/novas_energias_r5_c1.jpg" width="1024" height="60" border="0" id="novas_energias_r5_c1" alt="" /></td>
  </tr>
  <tr>
   <td>&copy;Todos os direitos reservados.Inoviber S.A. </td>
  </tr>
</table>
</body>
</html>
