<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Construtec</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" media="screen" href="construtec2/style.css" />
<meta http-equiv="imagetoolbar" content="no" />
</head>
<body>
<div id="daddy">
  <div id="header">
    <div id="logo"><a href=""><img src="construtec2/logo.gif" alt="" width="318" height="85" /></a><span id="logo-text"><a href="">Construtec</a></span></div>
    <div id="menu">
      <ul>
		{menu}
      </ul>
    </div>
    <div id="ticker"> {cell-1} </div>
    <div id="headerimage">
      <div id="icons"> <a href="" ><img src="construtec2/icon_home.gif" alt="index.php" width="13" height="13" id="home" /></a> <a href=""><img src="construtec2/icon_sitemap.gif" alt="Direct&oacute;rio" width="13" height="13" id="sitemap" /></a> <a href=""><img src="construtec2/icon_contact.gif" alt="" width="13" height="13" id="contact" /></a> </div>
      <div id="slogan">O portal da constru&ccedil;&atilde;o</div>
    </div>
  </div>
  <div id="content">
    <div id="cA">
      <div class="Ctopleft"></div>
      <h3>PROCURAR</h3>
      <div id="search">
        <input type="text" class="search" />
        <input type="submit" class="submit" value="Iniciar" />
      </div>
      <p>&nbsp;</p>
{cell-3}
    </div>
    <div id="cB">
      <div class="Ctopright"></div>
      <div id="cB1">
        <h3></h3>
        <div class="news">
          {main}
        </div>
      </div>
      <div id="cB2">
        <h3></h3>
        <div class="about">
        {cell-2}
        </div>
        <div id="newsletter"><span id="newsletter-title"><a href="">Newsletter</a></span>
          <p id="newsletter-text"><a href="">Click aqui para receber a nossa newsletter</a></p>
        </div>
      </div>
    </div>
    <div class="Cpad"> <br class="clear" />
      <div class="Cbottomleft"></div>
      <div class="Cbottom"></div>
      <div class="Cbottomright"></div>
    </div>
  </div>
  <div id="properspace"></div>
</div>
<div id="footer">
  <div id="foot">
    <div id="foot1"><a href="">Pol&iacute;tica de Privacidade</a> - <a href="">Termos de Utiliza&ccedil;&atilde;o</a></div>
    <div id="foot2"> <span class="valid">Valid <a target="_blank" href="http://validator.w3.org/check?uri=referer">XHTML</a> + <a target="_blank" href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></span>Copyright 2008, MoradaDigital. Design by <a href="http://www.symisun.com/" target="_blank">SymiSun<span class="star">*</span></a> </div>
  </div>
</div>
</body>
</html>
