<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
  <div id="header">
    <h1>Alimentarcom<span class="green">Sa&uacute;de</span></h1>
  </div>
  <div id="conts">
    <div id="leftCol">
      <div id="topNav">{menu}</div>
      <div id="banner">
		{cell-3}
      </div>
      <div id="welcomeBlock-left">
		{main}
      </div>
      <div id="onlineBlock-right">
		{cell-2}
      </div>
    </div>
    <div id="rightCol">
      <div class="top"><img src="images/menu.gif" alt="" /></div>
      <div class="bottom">
		{cell-1}
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="footLinks">
      <p>Pol&iacute;tica de Privacidade | Terms de utiliza&ccedil;&atilde;o | Contacte-nos</p>
      <p align="center">© 2009 <a href="http://www.moradadigital.com">MoradaDigital</a>Designed by <a href="http://www.elegant-templates.com">Elegant Templates</a>. </p>
    </div>
  </div>
</div>
</body>
</html>
