<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>iiSBEPORTUGAL</title>
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1" />
<META content="Zemi" name=author />
<META content="iisbe, portugal, construcao, sustentavel" name=keywords />
<META content="Site do IISBE Portugal" name=description />
<META content=all name=robots />
</head>
<link rel="stylesheet" type="text/css" href="images/english.css" />
<body class="estilobody">
<table width="770" border="0" align="center">
  <tr>
    <td colspan="2" bgcolor="#567182"><img src="images/cabecalho.jpg" alt="" width="770" height="124"></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#B2B4BF">{menu}</td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#B2B4BF" id="conteudo1">{cell-1}</td>
    <td bgcolor="#B2B4BF" id="conteudo2">{main}</td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#567182">&nbsp;</td>
  </tr>
</table>
</body>
</html>
