<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>RubyX</title>
<link rel="stylesheet" media="screen,projection" type="text/css" href="ouroregio/main.css" />
<link rel="stylesheet" media="print" type="text/css" href="ouroregio/print.css" />
<link rel="stylesheet" media="aural" type="text/css" href="ouroregio/aural.css" />
</head>
<body id="www-url-cz">
<div id="main" class="box">
  <div id="header">
    <h1 id="logo"><a href="">OuroRégio<span></span></a></h1>
    <hr class="noscreen" />
    <div class="noscreen noprint">
      <p><em>Quick links: <a href="#content">content</a>, <a href="#tabs">navigation</a>, <a href="#search">search</a>.</em></p>
      <hr />
    </div>
    <div id="search" class="noprint">
      <form action="" method="get">
        <fieldset>
        <legend>Search</legend>
        <label><span class="noscreen">Find:</span> <span id="search-input-out">
        <input type="text" name="" id="search-input" size="30" />
        </span></label>
        <input type="image" src="ouroregio/search_submit.gif" id="search-submit" value="OK" />
        </fieldset>
      </form>
    </div>
  </div>
  <div id="tabs" class="noprint">
    <h3 class="noscreen">Navigation</h3>
    <ul class="box">
	{menu}
    </ul>
    <hr class="noscreen" />
  </div>
  <div id="page" class="box">
    <div id="page-in" class="box">
      <div id="strip" class="box noprint">
        <p id="rss">&nbsp;</p>
        <hr class="noscreen" />
      </div>
      <div id="content">
        <div class="article">
			{main}
        </div>
        <hr class="noscreen" />
      </div>
      <div id="col" class="noprint">
        <div id="col-in">
			{cell-1}
          <hr class="noscreen" />
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="top" class="noprint">
      <p><span class="noscreen">Back on top</span> <a href="#header" title="Back on top ^">^<span></span></a></p>
    </div>
    <hr class="noscreen" />
    <p id="copyright">&copy; 2008 <a href="http://www.moradadigital.com">MoradaDigital</a> | <a href="http://www.nuvio.cz">Nuvio | Webdesign</a></p>
  </div>
</div>
</body>
</html>
