<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<title>{title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="tweakmyvolvo/style.css" type="text/css" media="screen" />
<!--[if IE]><link rel="stylesheet" type="text/css" href="tweakmyvolvo/style_ie.css" /><![endif]-->
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="tweakmyvolvo/style_ie6.css" /><![endif]-->
</head>
<body>
<div id="page">
  <div id="page-top">
    <div id="page-bottom">
      <div id="header">
        <div id="header-info">
          <h1><a href="">Tweak my volvo</a></h1>
          <div class="description">A do it yourself manual for volvo s60</div>
        </div>
        <div id="header-menu">
          <ul>
            <li class="page_item"><a href="">Home</a></li>
            <li class="page_item"><a href="">About</a></li>
          </ul>
        </div>
        <div id="header-search">
          <form method="get" id="searchform" action="#">
            <input type="text" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" name="s" id="s" />
            <input type="submit" id="searchsubmit" value="" />
          </form>
        </div>
        <div id="header-date">Date: {date}</div>
        <div id="header-rss"><a href="">Subscribe to RSS</a></div>
        <div id="header-comments"><a href="">Subscribe to Comments</a></div>
        <div id="header-cats">
          <ul>
			{menu}
          </ul>
        </div>
      </div>
      <div id="main">
        <div id="content">
          {main}
        </div>
        <div id="sidebar">
		{cell-1}
        </div>
        <div class="clear"></div>
      </div>
      <div id="footer"> 
        <p>Copyright 2009 <a href="http://www.moradadigital.com" target="_blank">MoradaDigital</a> - All Rights reserved<br />
          Designed by <a href="http://wpjunction.com/">HPA</a>           - Valid  CSS </p>
</div>
    </div>
  </div>
</div>
</body>
</html>
