<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Dark</title>
<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="dark/style.css" media="screen" />
</head>
<body>

<div id="wrap">

<div id="header">
<h1><a href="#">Construtec</a></h1>
<h2><div align="right" style="margin-right:20px">{lang}</div></h2>
</div>


<div id="contentbar"> 

<div class="contentbarleft">
Navigation :
</div>

<div class="contentbarright">
{menu}
</div>

</div>

<div id="content">

<div class="right"> 

<h2>{main}</h2>
</div>

<div class="left"> 

<h2>{cell-1}</h2>
</div>


<div style="clear: both;"> </div>

</div>

<div id="footer">
</div>

</div>

</body>
</html>