<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
td img {display: block;}.top_menu {
	font-family: Arial, Helvetica, sans-serif;
	color: #5C6877;
	font-size: 18px;
}
body {
	background-image: url(egreens/bgb.gif);
}
</style>
</head>
<body bgcolor="#ffffff">
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid; border-color:#999999">
  <tr>
   <td><img src="egreens/spacer.gif" width="146" height="1" border="0" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="11" height="1" border="0" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="193" height="1" border="0" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="340" height="1" border="0" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="34" height="1" border="0" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="54" height="1" border="0" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="1" height="1" border="0" alt="" /></td>
  </tr>

  <tr>
   <td rowspan="2" colspan="3"><img name="egreens_r1_c1" src="egreens/egreens_r1_c1.gif" width="350" height="96" border="0" id="egreens_r1_c1" alt="" /></td>
   <td width="428" height="56" colspan="3" valign="bottom" style="background:url(egreens/egreens_r1_c4.gif)"><table border="0">
     <tr>
       <td width="12" valign="baseline"><img src="egreens/cube.gif" width="12" height="12" /></td>
       <td align="center" valign="middle"><span class="top_menu">empresa</span></td>
       <td width="22" align="right" valign="baseline"><img src="egreens/cube.gif" width="12" height="12" /></td>
       <td class="top_menu">serviços</td>
       <td width="22" align="right" valign="baseline"><img src="egreens/cube.gif" width="12" height="12" /></td>
       <td class="top_menu">produtos</td>
       <td width="22" align="right" valign="baseline"><img src="egreens/cube.gif" width="12" height="12" /></td>
       <td class="top_menu">contacto</td>
     </tr>
   </table></td>
   <td><img src="egreens/spacer.gif" width="1" height="56" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="3"><img name="egreens_r2_c4" src="egreens/egreens_r2_c4.gif" width="428" height="40" border="0" id="egreens_r2_c4" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="1" height="40" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="6"><img name="egreens_r3_c1" src="egreens/egreens_r3_c1.gif" width="778" height="151" border="0" id="egreens_r3_c1" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="1" height="151" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="4" style="background:url(egreens/egreens_r4_c1.gif)" width="690" height="37">{menu}</td>
   <td colspan="2"><img src="egreens/egreens_r4_c5.gif" alt="" name="egreens_r4_c5" width="88" height="37" border="0" usemap="#egreens_r4_c5Map" id="egreens_r4_c5" /></td>
   <td><img src="egreens/spacer.gif" width="1" height="37" border="0" alt="" /></td>
  </tr>
  <tr>
   <td width="146" height="349" align="left" valign="top" bgcolor="#E7E7E7" ><div id="module-border">{cell-1}</div></td>
   <td><img name="egreens_r5_c2" src="egreens/egreens_r5_c2.gif" width="11" height="349" border="0" id="egreens_r5_c2" alt="" /></td>
   <td width="567" height="349" colspan="3" align="left" valign="top" bgcolor="#FFFFFF"><div id="module-border">{main}</div></td>
   <td><img name="egreens_r5_c6" src="egreens/egreens_r5_c6.gif" width="54" height="349" border="0" id="egreens_r5_c6" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="1" height="349" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="5"><img name="egreens_r6_c1" src="egreens/egreens_r6_c1.gif" width="724" height="39" border="0" id="egreens_r6_c1" alt="" /></td>
   <td><img name="egreens_r6_c6" src="egreens/egreens_r6_c6.gif" width="54" height="39" border="0" id="egreens_r6_c6" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="1" height="39" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="5"><img name="egreens_r7_c1" src="egreens/egreens_r7_c1.gif" width="724" height="32" border="0" id="egreens_r7_c1" alt="" /></td>
   <td><img name="egreens_r7_c6" src="egreens/egreens_r7_c6.gif" width="54" height="32" border="0" id="egreens_r7_c6" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="1" height="32" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="5"><img name="egreens_r8_c1" src="egreens/egreens_r8_c1.gif" width="724" height="32" border="0" id="egreens_r8_c1" alt="" /></td>
   <td><img name="egreens_r8_c6" src="egreens/egreens_r8_c6.gif" width="54" height="32" border="0" id="egreens_r8_c6" alt="" /></td>
   <td><img src="egreens/spacer.gif" width="1" height="32" border="0" alt="" /></td>
  </tr>
</table>

<map name="egreens_r4_c5Map" id="egreens_r4_c5Map"><area shape="rect" coords="7,10,23,26" href="#" alt="página inicial" />
<area shape="rect" coords="29,10,47,27" href="#" alt="contacte-nos" />
</map></body>
</html>
