<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta content="" name="keywords" />
<meta content="" name="description" />
<link href="default.css" type="text/css" rel="stylesheet" />
<div id="outer">
<div id="upbg"></div>
<div id="inner">
<div id="header">
<h1><span>Dicion&aacute;rio da Constru&ccedil;&atilde;o </span></h1>
</div>
<div id="splash"></div>
<div id="menu">
<ul>
    <li class="first">{menu} </li>
</ul>
</div>
<div id="primarycontent"><!-- primary content start -->
<div class="post">
<div class="content">{main} </div>
</div>
</div>
<!-- primary content end -->
<div id="secondarycontent"><!-- secondary content start -->
<div class="content">{cell-1} </div>
</div>
<!-- secondary content end -->
<div id="footer">&copy;{site_name}. Todos os direitos reservados. </div>
</div>
<!-- end div id inner--></div>
<!-- end div outer-->