<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title></title>
<link rel="stylesheet" type="text/css" href="ludus/style.css"/>
</head>
<body>

<div id="container">

<div id="banner">
<div id="dashed">

<h1>Ludus Universitas</h1>
<h2>Sistema de Avaliação</h2>

</div>
</div>

<div id="sideBar">
<p>{menu}</p>

<p>{cell-1}</p>

</div>
<div id="main">
{main}
</div>




<div id="clear"></div>
</div>

<div id="bottom">
</div>

<div id="copy">&copy; 2008 Miguel Tomás Silva.</div>

</body>
</html>