<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>MoradaDigital.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="md2/style.css" />
</head>
<body>
<div id="outerwrapper">
  <div id="wrapper">
    <div id="loginbox">
      <div id="loginboxright">
        <p>Veja aqui o        <a href="#">Plano de alojamento</a> detalhado</p>
      </div>
      <div id="loginboxleft">
        <form class="form" method="post" action="#">
          <p><strong> ID Pessoal: </strong>
            <input class="text" type="text" name="search" />
            <strong>Password:</strong>
            <input class="text" type="password" name="search" />
            <input class="button" type="submit" value="Entrar" />
          </p>
        </form>
        <p>Esqueceu-se da  password ou do  ID pessoal? <a href="#">Clique aqui para a ajuda!</a></p>
      </div>
    </div>
    <div id="header">
      <div id="logo"> <span class="logo"><img src="md2/md_logo.jpg" alt="md" width="40" height="35" />MoradaDigital.com</span> </div>
      <div id="headerloginbutton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Area Reservada</a></div>
      <div id="menu">
		{menu}
      </div>
    </div>
    <div id="searchbox">
      <div id="messagebox">{cell-1} </div>
      <div id="searchboxinside"> 
        <p><span class="searchquote">Verifique a disponibilidade de um dom&iacute;nio</span></p>
        <p>&nbsp;</p>
        <form class="form" method="post" action="#">
          <table cellspacing="0" cellpadding="5" width="100%" class="stdTable" border="0">
            <tr>
              <td class="lookupBar" valign="middle" width="232" height="30" align="right"><span style="color:Red;display:none;"><span title='Introduza um nome de dom&iacute;nio v&aacute;lido'>*</span></span>
                  <input name="dom" type="text" size="40" id="dom" class="text" />
              </td>
              <td class="lookupBar" valign="middle"><input type="submit" name="dom_search" value="Pesquisar"  id="dom_search" class="button" /></td>
              <td class="lookupBar" align="center">&nbsp;</td>
            </tr>
            <tr>
              <td class="" valign="top" colspan="3">
              <table id="" cellspacing="0" cellpadding="0" border="0" style="width:100%;border-collapse:collapse; color:#FFFFFF">
                  <tr>
                    <td><input id="com" type="checkbox" name="com" /><label for="">.com</label></td>
                    <td><input id="net" type="checkbox" name="net" /><label for="">.net</label></td>
                    <td><input id="org" type="checkbox" name="org" /><label for="">.org</label></td>
                    <td><input id="info" type="checkbox" name="info" /><label for="">.info</label></td>
                    <td><input id="biz" type="checkbox" name="biz" /><label for="">.biz</label></td>
                  </tr>
                <tr>
                    <td><input id="pt" type="checkbox" name="pt" /><label for="">.pt</label></td>
                  <td><input id="compt" type="checkbox" name="compt" /><label for="">.com.pt</label></td>
                  <td><input id="orgpt" type="checkbox" name="orgpt" /><label for="">.org.pt</label></td>
                  <td><input id="eu" type="checkbox" name="eu" /><label for="">.eu</label></td>
                  <td><input id="tv" type="checkbox" name="tv" /><label for="">.tv</label></td>
                </tr>
                <tr>
                    <td><input id="cc" type="checkbox" name="cc" /><label for="">.cc</label></td>
                  <td><input id="bz" type="checkbox" name="bz" /><label for="">.bz</label></td>
                  <td><input id="ws" type="checkbox" name="ws" /><label for="">.ws</label></td>
                  <td><input id="couk" type="checkbox" name="couk" /><label for="">.co.uk</label></td>
                  <td></td>
                </tr>
              </table></td>
            </tr>
          </table>
          <p>&nbsp;</p>
        </form>
        <br />
      </div>
    </div>
    <div id="intro">
      <div class="introbox">
        <h1><span class="digit">1</span>Consultadoria</h1>
        <p>Aposte em solu&ccedil;&otilde;es integradas com   gest&atilde;o em tempo real de todo o seu neg&oacute;cio.</p>
      </div>
      <div class="introbox">
        <h1><span class="digit">2</span>Web Empresarial</h1>
        <p>Anuncie a sua empresa na Internet. Sem preocupa&ccedil;&otilde;es ou complica&ccedil;&otilde;es, diga-nos o que pretende e n&oacute;s tratamos do   resto.</p>
      </div>
      <div class="introbox">
        <h1><span class="digit">3</span>Seguran&ccedil;a</h1>
        <p> O nosso servi&ccedil;o de Backup efectua uma copia de seguran&ccedil;a todos os dias   e de forma silenciosa para que possa dormir descan&ccedil;ado ao fim do dia.</p>
      </div>
    </div>
    <div class="clear"></div>
    <div id="right">
<div class="contentboxone">
        <h2><img src="md2/consultadoria.png" width="20" height="20" />Consultadoria</h2>
        <p>Na MoradaDigital acreditamos que uma empresa que aposta num modelo de neg&oacute;cio din&acirc;mico, capaz de ir de encontro &agrave;s necessidades de cada cliente, est&aacute; no caminho do sucesso. A nossa fun&ccedil;&atilde;o &eacute; diminuir a dist&acirc;ncia temporal nas suas rela&ccedil;&otilde;es comerciais atrav&eacute;s de solu&ccedil;&otilde;es integradas com gest&atilde;o em tempo real de todo o seu neg&oacute;cio.</p>
      </div>      <div class="contentboxone">
        <h2><img src="md2/seguranca.png" width="20" height="20" />Seguran&ccedil;a</h2>
        <p>Porque h&aacute; dias que por vezes correm mal, o nosso servi&ccedil;o de backup garante-lhe a protec&ccedil;&atilde;o de toda a sua documenta&ccedil;&atilde;o electr&oacute;nica.<br />
        O servi&ccedil;o de backup efectua uma c&oacute;pia de seguran&ccedil;a di&aacute;riamente, ao fim do dia, de toda a informa&ccedil;&atilde;o que deseja ser guardada num local seguro e com total garantia de reten&ccedil;&atilde;o de dados. <br />
          Para que possa dormir descan&ccedil;ado ao fim do dia!
</p>
      </div>
      <div class="contentboxone">
        <h2><img src="md2/web.png" width="24" height="20" />Web Empresarial</h2>
        <p><br />
        O SiteBuilder Environment (SBE) &eacute; um sistema de cria&ccedil;&atilde;o de p&aacute;ginas online e em tempo real. Esta &eacute; uma ferramenta orientada &aacute; constru&ccedil;&atilde;o de p&aacute;ginas web empresariais integrando os sistemas de informa&ccedil;&atilde;o da mesma. A forma de utiliza&ccedil;&atilde;o desta ferramenta &eacute; t&atilde;o simples e acess&iacute;vel que qualquer pessoa consegue r&aacute;pidamente efectua a sua gest&atilde;o. O SBE inclui, entre outras, as seguintes ferramentas:</p>
       
        <blockquote>
          <p><strong>Gest&atilde;o de Base de dados</strong></p>
          <p> - Cria&ccedil;&atilde;o de tabelas, campos, utilizadores, etc.<br />
          </p>
          <p><strong>Gest&atilde;o de conte&uacute;dos</strong></p>
          <p>- O SBE disponibiliza as ferramentas para a publica&ccedil;&atilde;o de conte&uacute;dos desde simples not&iacute;cias da empresa &agrave; venda de produtos.</p>
          <p><strong>Desgin das p&aacute;ginas no formato WYSIWYG</strong><br /> 
          - O aspecto visual da sua p&aacute;gina conta muito, por isso fomos mais longe, e elaboramos um sistema onde tudo &eacute; feito de forma visual.</p>
          <p><strong>Gest&atilde;o de m&oacute;dulos</strong><br /> 
          - Sempre adequado &agrave;s suas necessidades, com controlo de custos, a constru&ccedil;&atilde;o da p&aacute;gina web &eacute; feita de forma modular &agrave; medida que o seu neg&oacute;cio vai crescendo.</p>
          <p><strong>Gest&atilde;o de utilizadores</strong><br /> 
          - Para aquelas empresas que querem ir mais al&eacute;m, e tornar a sua p&aacute;gina web num autentico portal. Com gest&atilde;o de conte&uacute;dos em tempo real para vendedores e clientes, torne a sua p&aacute;gina no modelo de neg&oacute;cio mais actual &quot;Just in time&quot;.</p>
        </blockquote>
      </div>
    </div>
    <div id="leftside">
      <div class="imagelink">
        <p><b><img src="md2/alojamento.gif" width="20" height="18" />Alojamento Web</b><br />
          Feito para ser exactamente &agrave; sua medida, o plano de alojamento cresce &agrave; medida que o seu neg&oacute;cio tamb&eacute;m cresce. O plano base tem as seguintes caracter&iacute;sticas:</p>
      </div>
      <ul>
        <li><a class="current" href="#">1 dom&iacute;nio .com</a></li>
        <li><a class="current" href="#">Tr&aacute;fego ilimitado</a></li>
        <li><a class="current" href="#">2 GigaBytes de espa&ccedil;o</a></li>
        <li><a class="current" href="#">10 bases de dados MySQL</a></li>
        <li><a class="current" href="#">PHP 5</a></li>
        <li><a class="current" href="#">PERL</a></li>
        <li><a class="current" href="#">MySQL 5</a></li>
        <li><a class="current" href="#">S.O. Linux</a></li>
        <li><a class="current" href="#">Servi&ccedil;o de Backup*</a></li>
        <li></li>
        <li>* Limitado ao espa&ccedil;o em disco contratado</li>
      </ul>
      <div class="imagelink">
        <p><img src="md2/sitebuilder.png" alt="" class="imagelinkpic"/><b>SiteBuilder Environment</b><br />
        Sistema de cria&ccedil;&atilde;o de p&aacute;ginas online e em tempo real com o SiteBuilder Environment.</p>
      </div>
      <div class="imagelink">
        <p><img src="md2/backoffice.png" alt="" class="imagelinkpic"/><b>Gest&atilde;o Backoffice</b><br />
          Painel de controlo personalizado &agrave; medida da sua empresa.</p>
      </div>
      <div class="imagelink">
        <p><img src="md2/email.png" alt="" class="imagelinkpic"/><b>Email</b><br />
          Painel de controlo de contas de email, totalmente personlizado de forma a ir de encontro &agrave; suas necessidades.</p>
      </div>
      <div id="advert">
        <div>{cell-2}</div>
      </div>
    </div>
    <div id="footer">
      <div id="col1">
        <ul>
          <li><a href="http://www.omeu-ip.com" target="_blank">Omeu-ip.com</a></li>
          <li><a rel="nofollow" target="_blank" href="http://www.moradadigital.com" title="m23">moradadigital.com</a></li>
          <li><a href="#">escola.com</a></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div id="col2">
        <ul>
          <li><a href="#">PERL Scripts</a></li>
          <li><a href="#">Tutoriais PHP</a></li>
          <li><a href="#">Tutoriais MySQL</a></li>
          <li><a href="#">PHP Scripts</a></li>
          <li><a href="#">Ajuda</a></li>
          <li></li>
        </ul>
      </div>
      <div id="col3">
        <p class="thumbs">&nbsp;</p>
        <p><br />
          Valid <a target="_blank" href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a target="_blank" href="http://validator.w3.org/check?uri=referer">XHTML</a></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
