<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">td img {display: block;}</style>
<link href="mundoindigo/default.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	background-color: #F9F9F7;
}
-->
</style></head>
<body>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">
<!-- fwtable fwsrc="mundoindigo.png" fwbase="mundoindigo.gif" fwstyle="Dreamweaver" fwdocid = "570880223" fwnested="1" -->
  <tr>
   <td><img name="mundoindigo_r1_c1" src="mundoindigo/mundoindigo_r1_c1.gif" width="778" height="232" border="0" id="mundoindigo_r1_c1" alt="" /></td>
  </tr>
  <tr>
   <td><table align="left" border="0" cellpadding="0" cellspacing="0" width="778">
	  <tr>
	   <td style=" background-image: url(mundoindigo/mundoindigo_r2_c1.gif);" width="228" height="44"></td>
	   <td><img name="mundoindigo_r2_c2" src="mundoindigo/mundoindigo_r2_c2.gif" width="129" height="44" border="0" id="mundoindigo_r2_c2" alt="" /></td>
	   <td style="background-image: url(mundoindigo/mundoindigo_r2_c3.gif);" width="421" height="44" >{menu}</td>
	  </tr>
	</table></td>
  </tr>
  <tr>
   <td><table align="left" border="0" cellpadding="0" cellspacing="0" width="778" style=" border-color:#000000;border-style:solid;border-width:1px;background-color:#F7FAFF;">
	  <tr>
	   <td width="228" valign="top" bgcolor="#FFFFFF">{cell-1}</td>
	   <td height="500" valign="top" bgcolor="#FFFFFF">{main}</td>
	  </tr>
	</table></td>
  </tr>
  <tr>
   <td><img name="mundoindigo_r4_c1" src="mundoindigo/mundoindigo_r4_c1.gif" width="778" height="52" border="0" id="mundoindigo_r4_c1" alt="" /></td>
  </tr>
</table>
</body>
</html>
