<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>R.amorim - Agro Solu&ccedil;&otilde;es</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="ramorim/style.css" media="screen" />
</head>
<body>
<div id="main_container">
  <div id="header">
    <div id="logo"><a href=""><img src="ramorim/logo.gif" alt="" border="0" /></a></div>
    <div id="menu">
	{menu}
    </div>
  </div>
  <!--end of green box-->
  <div id="main_content">
    <div id="left_content">
      {cell-1}
    </div>
    <!--end of left content-->
    <div id="right_content">
    {main}
      </div>
    <!--end of right content-->
    <div style=" clear:both;"></div>
  </div>
  <!--end of main content-->
  <div id="footer">
    <div class="copyright"> <a href=""><img src="ramorim/footer_logo.gif" border="0" alt="" /></a> </div>
    <div class="footer_links"> <a href="">Sobre n&oacute;s</a> <a href="">Pol&iacute;tica de Privacidade</a> <a href="">Contacte-nos</a> </div>
  </div>
</div>
<!--end of main container-->
</body>
</html>
