<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
<title></title>
</head>

<body>
<div style="font-family:\'Times New Roman\', Times, serif;font-size:medium">
<div align="center"><h2>{title}</h2>
  <p>&nbsp;</p>
  <p>{cl6}:{theme}</p>
  <p><br>
    <font style="font-size:small">{authors}</font></p>
</div>
</div>
<hr size="1"><div align="left" style="font-family:\'Times New Roman\', Times, serif">
  <p><strong>{cl1}</strong><br>{abstract}</p>
  <p><br>
    <br>
    <font style="font-size:small"><strong>{cl2}: </strong>{keywords}</font></p>
  <p>&nbsp;</p>
  <hr size="1"><br /><h3>{cl25}</h3>
  <p>&nbsp;</p>
  <blockquote>
    <p>{cl24}<strong>{idc}</strong></p>
    <p><br />
     <strong> {ar2}</strong></p>
    <p><br />
      <strong>{re0}</strong><br />
{remarks}</p>
    <p><br />
      {rev_result}</p>
    <p>&nbsp;</p>
  </blockquote></div>
{footer}
</body>
</html>
