*{margin:0;padding:0;}
html,body{height:100%;}
ol,ul{list-style:none;}
fieldset,img,abbr,acronym{border:0;}
em{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
