ul, li { list-style-type:none;}
ul { display:block; padding-left:20px; margin:0 0 0 0;}
li { display:block; padding-left:0px; margin:0 0 0 0;}

.tree {  font: 11px tahoma,verdana,sans-serif; clear:both; } 
.tree-item-selected { background-color: Highlight; color: HighlightText;  }
.tree-item-unselected { }
.tree-icon  { padding-right: 4px; cursor: pointer; width: 18px; height: 18px; text-align: center; vertical-align: middle;  }
.tree-simple  { float: left; width: 18px; height: 18px;}

.ul_closed {display:none;}
.ul_open {display:block;}


.groupdiv {
	display:block;
	nowrap:nowrap;
	overflow:hidden;
	height:20px;
}
