<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Habitar com sa&uacute;de</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="habitarcomsaude/main.css" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <p>Habitar com sa&uacute;de</p>
  </div>
  <div id="navigation">
    <ul id="menu">
		{menu}
    </ul>
  </div>
  <div id="faux">
    <div id="leftcolumn">
      {cell-1}
    </div>
    <div id="centercolumn">
      {cell-0}
    </div>
    <div id="rightcolumn">
      {cell-2}
    </div>
    <div class="clear"></div>
  </div>
  <div id="footer">
    <p><a href="{site_path}">homepage</a> | <a href="">contact</a> | &copy; 2008 <a href="http://www.moradadigital.com">MoradaDigital</a> | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a></p>
  </div>
</div>
</body>
</html>
