.mceSeparatorLine {
	border: 0;
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
}

/* Button CSS rules */

a.mceButtonDisabled img, a.mceButtonNormal img, a.mceButtonSelected img {
	/*width: 20px;
	height: 20px;*/
	cursor: default;
	margin-top: 1px;
	margin-left: 1px;
}

* html a.mceButtonNormal img, * html a.mceButtonSelected img, * html a.mceButtonDisabled img {
	border: 0px !important;
	margin-top: 2px;
	margin-bottom: 1px;
}

a.mceButtonNormal img, a.mceButtonSelected img {
	border-width:1px;
	border-color:transparent;
	/*border: 1px solid #F0F0EE !important;*/
}

* html a.mceButtonNormal, * html a.mceButtonSelected {
	border-width:1px;
	border-color:transparent;
	/*border: 1px solid #F0F0EE;*/
	cursor: default;
}

a.mceButtonSelected img {
	border: 1px solid #C0C0BB !important;
}

* html a.mceButtonSelected {
	border: 1px solid #C0C0BB;
}

a.mceButtonNormal img:hover, a.mceButtonSelected img:hover {
	border: 1px solid #0A246A !important;
	cursor: default;
	background-color: #B6BDD2;
}

* html a.mceButtonNormal:hover, * html a.mceButtonSelected:hover {
	border: 1px solid #0A246A;
	cursor: default;
	background-color: #B6BDD2;
}

a.mceButtonDisabled img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	-moz-opacity:0.3;
	opacity: 0.3;
	border: 1px solid #F0F0EE !important;
	cursor: default;
}

* html a.mceButtonDisabled img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	border: 0px !important;
}

* html a.mceButtonDisabled {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	border: 1px solid #F0F0EE !important;
}
