body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%; 
	max-height: 100%; 
	background-color: white; 
	overflow: hidden; 
	
	scrollbar-face-color:#FBFBFB;
	scrollbar-arrow-color:#D4D0C8;
	scrollbar-track-color:#FFFFFF;
	scrollbar-shadow-color:#D4D0C8;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#CCCCCC;
	scrollbar-darkshadow-Color:#FBFBFB;
}

form {
	height: 100%;
	padding: 0;
	margin: 0;
	padding-bottom: 1px;
}

body, div, p, span, td, input, select {
	font-family: Sans-serif, Verdana, Arial;
	font-size: 11px;
}

.mcHeader {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 68px;
	overflow: hidden;
	background: #fff;
	color: #000;
}

.mcContent {
	position: absolute;
	top: 70px;
	left: 0;
	bottom: 50px;
	right: 0;
	overflow: auto; 
	margin: 0 auto;
	background-color: #F0F0EE;
	/*background-color: #D4D0C8;*/
	padding: 15px;
}

.mcFooter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	overflow: hidden;
	text-align: right;
	background-color: #F0F0EE;
	/*background-color: #D4D0C8;*/
}

.mcBorderBottomBlack { border-bottom: 1px solid black; }
.mcBorderBottomWhite { border-bottom: 5px solid white; }
.mcBorderTopBlack { border-top: 1px solid black; }
.mcBorderTopWhite { border-top: 1px solid white; }

.mcHeaderLeft { float: left; }
.mcHeaderRight { float: right; }
.mcFooterLeft { float: left; }
.mcFooterRight { float: right; }

.mcHeaderTitle {
	font-size: 12pt;
	font-weight: bold;
}

.mcHeaderText {
	font-size: 10pt;
	font-weight: bold;
	font-stretch:extra-expanded;
}

.mcWrapper { padding: 15px; }

/* for internet explorer */

* html body {
	padding: 62px 0 60px 0; 
}

* html .mcContent {
	height: 100%;
	width: 100%;
	padding-left:25px;
}

* html .mcHeader {
	height: 66px;
}

* html .mcFooter {
	height: 50px;
}

p {
	margin: 0;
	padding: 0;
}

fieldset {
	padding: 8px;
}

/* Button CSS rules */

.button {
   font-weight: bold;
   width: 90px;
   height: 21px;
   border: 0;
   background-image: url('../images/button_bg.gif');
   cursor: pointer;
}

a.mceButtonDisabled img, a.mceButtonNormal img, a.mceButtonSelected img {
	width: 20px;
	height: 20px;
}

.mandatoryfield {
	color:#FF0000;
	font-size:17px;
	font-weight:bold;
	text-indent:top;
	padding-left:5px;
}