
#loadingbar {
	position:absolute;
	top:45%;
	left:40%;
	width:140px;
	height:30px;
	background-color:#F5F5F5;
	border:1px dashed #999999;
	z-index:1000;
}

#subloadingbar {
	width:100px;
	height:15px;
	background-image:url(../images/loading2.gif);
	background-repeat:no-repeat;
	color:#333333;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:15px;
	margin-top:8px;
	margin-left:20px;
}