body {
	background-color: #FFFFFF;
	
	scrollbar-face-color:#FBFBFB;
	scrollbar-arrow-color:#D4D0C8;
	scrollbar-track-color:#FFFFFF;
	scrollbar-shadow-color:#D4D0C8;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#CCCCCC;
	scrollbar-darkshadow-Color:#FBFBFB;
	
	padding:0px;
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

form {
	margin: 0px;
	padding: 0px;
}

a:link	{  
	font-size: 11px; 
	color: #000000; 
	text-decoration: underline;
}

a:active	{  
	text-decoration: underline;
}

a:visited	{  
	font-size: 11px; 
	color: #000000;
	text-decoration: none;
}

a:hover	{  	
	text-decoration: underline;
}

.thwrapper {
	position: absolute;
	top: 60px;
	bottom: 30px;
	padding: 0px;
	overflow: auto;
	overflow-y: auto;
	width: 100%;
}

* html .thwrapper { /* IE */
	height: 100%;
	margin-top:3px;
}

.thwrapperwrapper {
	margin-left: 12px; margin-top: 15px
}

.statusError {
	color: #880000;
}

.statusMsg {
	color: #000000;
}

.image {
	/* please note that some styles for .image are in template style, for variable subsitution */
	position: absolute;
	top: 0px;
	left: 0px;
	width: 152px;
	height: 152px; 
	background:url(../images/im-topleft.gif) no-repeat top left;
}

.loading {
	/*background-image: url('../images/ani_snake.gif');
	background-position: center center;
	background-repeat: no-repeat;*/
}

.error {
	background-image: url('../images/error.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

.image img {
	cursor: hand;
}

.thumbnail {
	/* please note that some styles for .thumbnail are in template style, for variable subsitution */
	position: relative;
	float: left;
	display: inline;
	width: 152px; 
	height: 170px; 
	margin: 0 5px 5px 5px; 
	background:url(../images/im-topright.gif) no-repeat top right; 
}

.imagename {
	/* please note that some styles for .imagename are in template style, for variable subsitution */
	overflow: hidden;
	font-family: Verdana, Arial Helvetica, sans-serif;
	font-size: 10px;
	width: 150px;
	height:15px;
	background:url(../images/im.gif) repeat bottom right;
}

.imagename label input {
	height:11px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	text-align:center;
	width:95%;
	top:-1px;
	position:relative;
	border-color:#FFFFFF;
}

.imagewrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.imageinfo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #FFFFFF;
	line-height: 14px;
	position: absolute; 
	top: 16px; 
	left: 0px; 
	clear: both; 
	overflow: hidden;
	display: none;
	z-index: 100;
	width: 148px; 
	border: 1px solid #CCCCCC;
}

.infowrap { 
	width: 100%; 
}

.infowrap div { 
	width: 49%; 
	float: left;
}

.infotable, .infotable td, .infotable .tr { background-color: #ffffff; font-size: 10px; }

table, td, tr {
	background-color: transparent;
}

td {
	font-family: "MS Sans Serif", Verdana, Arial;
	font-size: 9pt;
}

/*
.toolbarwrap { 
	margin: 15px;
}

fieldset {
	padding: 8px;
	padding-bottom: 4px;
	border-color: #FFFFFF;
}

* html fieldset {
	margin-top: -10px;
}

legend {
	font-family: "MS Sans Serif", Verdana, Arial;
	font-size: 9pt;
	font-weight: bold;
}
*/
/*
.disabledFileName {
	color: #888888;
}

.inputText, .inputFile {
	background: #FFFFFF;
	border: 1px solid #cccccc;
}

.inputFile:button {
	background: #DDDDDD;
	border: 1px solid #888888;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
*/
/*
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.button {
	background: #DDDDDD;
	border: 1px solid #888888;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

#createdirBody, #uploadBody {
	background-color: #F0F0EE;
}
*/
