<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Bright Side of Life</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="images/BrightSide.css" type="text/css" />
</head>
<body>
<div id="wrap">
  <div id="header">
    <h1 id="logo">Alimentar<span class="green">com</span>sa&uacute;de</h1>
    <h2 id="slogan">bons conselhos sobre alimenta&ccedil;&atilde;o</h2>
    <form method="post" class="searchform" action="">
      <p>
        <input type="text" name="search_query" class="textbox" />
        <input type="submit" name="search" class="button" value="Procurar" />
      </p>
    </form>
    <ul>
	{menu}
    </ul>
  </div>
  <div id="content-wrap"> <img src="images/headerphoto.jpg" width="820" height="120" alt="headerphoto" class="no-border" />
    <div id="sidebar" >
	{cell-1}
	</div>
    <div id="main">
	{main}
    </div>
    <div id="rightbar">
	{cell-2}
	</div>
  </div>
  <div id="footer">
    <div class="footer-left">
      <p class="align-left"> &copy; 2009 MoradaDigital| Design by <a href="http://www.styleshout.com/">styleshout</a></p>
    </div>
  </div>
</div>
</body>
</html>
