* {
	margin: 0;
	padding: 0;
}

body {
background: #2a3742 url(bg.jpg) repeat-x top center;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 20px;
color: #eee;
}

a {
text-decoration: none;
color: #7CBF0F;
}
a:hover {
text-decoration: underline;
color: #A3D74F;
}

#wrap {
margin: 0 auto;
width: 800px;
}

#header {
height: 120px;
background: #2a3742 url(header.jpg) no-repeat;

}
#header h1 { 
font-size: 28px;
letter-spacing: -1px;
padding: 35px 0 0 20px;
color: #fff;
}
#header h1 a { 
color: #fff;
text-decoration: none;
font-weight: 100;
letter-spacing: -2px;
}
#header h1 a:hover {
color: #A3D74F;
}
#header h2 {
font-size: 19px;
color: #e1c70e;
padding: 5px 0 0 20px;
letter-spacing: -1px;
font-weight: 100;
}

#contentbar {
background: #e1f2d0 url(contentbar.jpg) no-repeat top;
height: 50px;
line-height: 50px;
margin-top: 10px;
}
.contentbarleft {
float: left;
padding-left: 20px;
font-weight: 600;
font-size: 15px;
width: 220px;
}
.contentbarright {
float: right;
padding-left: 20px;
font-weight: 600;
font-size: 15px;
text-align: left;
width: 530px;
}

#content {
padding: 0 10px;
}

.right {
float: right;
width: 530px;
text-align: justify;
padding-top: 20px;
font-size: 14px;
}
.right h2 {
font-size: 18px;
font-weight: 100;
height: 30px;
line-height: 30px;
}
.right h2 a {
text-decoration: none;
color: #A3D74F;
}
.right h2 a:hover {
color: #fff;
}

.left {
float: left;
width: 220px;
padding-top: 10px;
}
.left h2 {
margin: 10px 0 0 0;
padding-left: 10px;
height: 30px;
line-height: 30px;
color: #fff;
font-size: 13px;
}
.left ul {
padding: 10px 0 15px 20px;
list-style-type: none;
}
.left ul li a {
text-decoration: none;
font-weight: 600;
font-size: 13px;
}
.left ul li a:hover {

}

#footer {
text-align: center;
font-size: 11px;
color: #eee;
margin-top: 40px;
border-top: 1px dotted #A2D84C;
padding-top: 10px;
padding-bottom: 10px;
}
#footer a { color: #eee; }
#footer a:hover { color: #aaa; }