<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
<title>P&aacute;gina pessoal de Ana Filipa</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="anafilipa/style.css" />
<body>
<div id="container">
  <div id="intro">
    <div id="pageHeader">
      <h1><span></span></h1>
      <h2><span></span></h2>
    </div>
    <div id="quickSummary">
      <p class="p1"><span>Imagination will often carry us to worlds that never were. But without it we go nowhere.</span></p>
    </div>
  </div>
  <div id="supportingText">
    <div id="ipsum">
    {cell-0}
    </div>
    <div id="footer">Template by <a href="http://www.csstemplateheaven.com/">Dieter Schneider</a></div>
  </div>
  <div id="linkList">
    <div id="linkList2">
      <div id="lselect">
        <h3 class="select"><span>Main menu:</span></h3>
        <ul>
          <li><a href="" >Página Inicial</a></li>
          <li><a href="" >Quem Sou</a></li>
          <li><a href="" >Viagens</a></li>
          <li><a href="" >Curriculum Vitae</a></li>
          <li><a href="" >Amigos</a></li>
          <li><a href="" >Contacto</a></li>
          <li><a href="" >Links</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
