/* The Tree" Created by Dieter Schneider 2006 for www.csstemplateheaven.com */

* {margin: 0px;
   padding: 0px;}

body { 
	font: 8pt/16pt Georgia, "Times New Roman", Times, serif; 
	background: #000000 url(body_bg.jpg) repeat-y center;  
}

p {
	font: 8pt/16pt Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	color: #000000;
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #990000;
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #990000;
}

a:hover, a:active { 
	text-decoration: underline; 
	color: #333300;
}

#container {
    width: 642px;
	background: #FFFFFF url(container_tile.jpg) repeat-y; 
	margin: 0px auto;
}


#pageHeader {
	margin-bottom: 0px;
	background-image: url(header.jpg);
	height: 524px;
	background-repeat: no-repeat;
}


#pageHeader h1 { 
	text-indent: -2000px;
}


#pageHeader h2 { 
	text-indent: -2000px;
}


#quickSummary {
	position:absolute;
	top: 365px;
	width: 274px;
	height: 162px;
}
	
#quickSummary p {
	font: italic 8pt/15pt georgia; 
	text-align:center;
	color: #666600;
	position:relative;
	left: 292px;
}
	
#quickSummary .p2 {
	font: italic 8pt/15pt georgia; 
	text-align:center;
	color: #000000;
}

#preamble {
	clear: right;
	padding: 0px 60px 0px;
}

#preamble p {
	margin: 0px;
}
	

/************************' Begin Headings *******************************/

	
#preamble h3{
	padding: 0px 10px;
	color: #FF9900;
	text-indent: -2000px;
}
	
#about h3{
	color: #FF9900;
	background-image: url(heading_explanation.gif);
	text-indent: -2000px;
	height: 60px;
	width: 320px;
}
	
#about_headings h3{
	color: #FF9900;
	background-image: url(heading_participation.gif);
	text-indent: -2000px;
	height: 60px;
	width: 320px;
}
	
#ipsum h3{
	color: #FF9900;
	background-image: url(heading_benefits.gif);
	text-indent: -2000px;
	height: 60px;
	width: 320px;
}
	
#more_ipsum h3{
	color: #FF9900;
	background-image: url(heading_requirements.gif);
	text-indent: -2000px;
	height: 60px;
	width: 320px;
}
		
/************************* End Headings ********************************/

#supportingText {
	padding: 0px 110px 10px 110px;
}

#footer {
	text-align: center;
	padding: 10px;
	margin-top: 15px;
	background-color: #abab8e;
	border: 1px dotted #EEEEEE;
}

#footer a:link, #footer a:visited { 
	margin-right: 20px; 
}

#linkList {
	position: absolute;
	top: 720px;
}

/*************************** Begin Left navigation **********************/

#linkList2 { 
	font: 10px verdana, sans-serif; 
	border: 0px solid gray;
	background-image: url(linklist_bg.jpg);
	background-repeat: repeat-y;
	background-position: right;
	background-color: #abab8e;
	padding-left: 10px;  
	padding-right: 30px;
	padding-bottom: 30px; 
	margin-top: 10px; 
	width: 138px;
	position:relative;
	left: -90px;
}

#linkList h3.select {
	background: transparent url(linklist_01.gif) no-repeat top left;	
	height: 56px;
	text-indent: -2000px;	 
}
	
#linkList h3.archives { 
	background: transparent url(linklist_02.gif) no-repeat top left;	
	height: 56px;
	text-indent: -2000px;
}


#linkList h3.resources { 
	background: transparent url(linklist_03.gif) no-repeat top left;	
	height: 56px;
	text-indent: -2000px;
}



#linkList ul {
	margin: 0px;
	padding: 0px;
}

#linkList li {
	line-height: 2.8ex; 
	list-style-type: none;
	background: transparent; 
	display: block; 
	padding-top: 2px; 
	margin-bottom: 2px;
}

#linkList li a:link { 
	color: #EEEEEE;
}

#linkList li a:visited {
	color: #666666;
}
	
/**************************** End left navigation ****************************/

