<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="images/CoolWater.css" type="text/css" />
</head>
<body>
<div id="wrap">
  <div id="header">
    <h1 id="logo-text"><a href="">AgendaBTT</a></h1>
    <p id="slogan">Os teus passeios de BTT</p>
  </div>
  <div  id="menu">
    <ul>
	{menu}
    </ul>
  </div>
  <div id="content-wrap">
    <div id="main"> 
	{main}
    </div>
    <div id="sidebar">
	{cell-1}
	</div>
  </div>
  <div id="footer">
    <p>&copy; 2009<strong> </strong>Design by: <a href="http://www.styleshout.com/">styleshout</a></p>
  </div>
</div>
</body>
</html>
