b {height:37px; width:37px; margin-right:5px; display:block; float:left;}
b span {display:none;}
.drop-a {background:url(images/a.png) no-repeat;}
.drop-b {background:url(images/b.png) no-repeat;}
.drop-c {background:url(images/c.png) no-repeat;}
.drop-d {background:url(images/d.png) no-repeat;}
.drop-e {background:url(images/e.png) no-repeat;}
.drop-f {background:url(images/f.png) no-repeat;}
.drop-g {background:url(images/g.png) no-repeat;}
.drop-h {background:url(images/h.png) no-repeat;}
.drop-i {background:url(images/i.png) no-repeat;}
.drop-j {background:url(images/j.png) no-repeat;}
.drop-k {background:url(images/k.png) no-repeat;}
.drop-l {background:url(images/l.png) no-repeat;}
.drop-m {background:url(images/m.png) no-repeat;}
.drop-n {background:url(images/n.png) no-repeat;}
.drop-o {background:url(images/o.png) no-repeat;}
.drop-p {background:url(images/p.png) no-repeat;}
.drop-q {background:url(images/q.png) no-repeat;}
.drop-r {background:url(images/r.png) no-repeat;}
.drop-s {background:url(images/s.png) no-repeat;}
.drop-t {background:url(images/t.png) no-repeat;}
.drop-u {background:url(images/u.png) no-repeat;}
.drop-v {background:url(images/v.png) no-repeat;}
.drop-w {background:url(images/w.png) no-repeat;}
.drop-x {background:url(images/x.png) no-repeat;}
.drop-y {background:url(images/y.png) no-repeat;}
.drop-z {background:url(images/z.png) no-repeat;}
