<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Reinvent - Blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style.css" rel="stylesheet" media="screen"  type="text/css" />
<link href="dropcap.css" rel="stylesheet" media="screen"  type="text/css" />
</head>
<body>
<div id="wrap">
  <h1 id="header_home"> <span class="sitename">Durability of concrete</span> <span class="description">DURACON software webpage</span></h1>
  <div id="content">
    <div id="topnav">
      <div id="topnavmain">
        <ul id="nav">
		{menu}
        </ul>
      </div>
    </div>
    <div class="post">
	{main}
    </div>
    <div class="page_nav"></div>
    <div class="clear"></div>
  </div>
  <div id="footer">
    <div id="footertop">
      <ul id="bottomlinks">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Duracon</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li></li>
      </ul>
    </div>
    <div class="clear"></div>
    <div id="bottom"> Copyright &copy; DurabilityofConcrete.com | All Rights Reserved <br />
    <a href="http://ramblingsoul.com">CSS Template</a> by RamblingSoul</div>
  </div>
</div>
</body>
</html>
