<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ci&ecirc;ncia na Cidade</title>
<link href="cnc/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrap">
  <div id="header">
    <ul id="topmenu">
      <li><a href="">P&Aacute;g.Inicial</a> </li>
      <li><a href="">equipa</a> </li>
      <li><a href="">projectos</a></li>
    </ul>
    <div class="clear"></div>
    </div>
  <div id="content">
    <div id="sidebar">
      <div class="sidebartop"> </div>
      <div id="sidebarcontent">
        <h2>Categorias</h2>
        <ul>
          <li>P&aacute;gina Inicial</li>
          <li><a href="">Equipa</a> </li>
          <li><a href="">Projectos</a> </li>
          <li><a href="">Not&iacute;cias</a> </li>
          <li><a href="">Eventos Ci&ecirc;ncia na Cidade</a></li>
          <li><a href="">Outros Eventos</a></li>
          <li><a href="">O que se escreve</a></li>
          <li><a href="">Links</a></li>
        </ul>
        <h2>Galerias</h2>
        <ul>
          <li><a href="">Imagens</a> </li>
          <li><a href="">Cartazes</a> </li>
        </ul>
      </div>
    </div>
    <div id="left">
    {main}
    </div>
    <div class="clear"></div>
    <div id="footer">
      <p>Developed under GNU License - MT 2008</p>

    </div>
  </div>
</div>
</body>
</html>
