<table width="500"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2" bgcolor="#0099CC"><font style="color: #FFFFFF;	font: Arial, Helvetica, sans-serif;	font-weight: bold;">Recupera&ccedil;&atilde;o dos dados de utilizador do site: {site_name}</font></td>
  </tr>
  <tr>
    <td height="30" colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; ">Nome do utilizador: </div></td>
  </tr>
  <tr>
    <td width="100">&nbsp;</td>
    <td width="300"><div style="font-family: Arial, Helvetica, sans-serif;	font-size: 12px; ">{username}</div></td>
  </tr>
  <tr>
    <td colspan="2"><div style="font-family: Arial, Helvetica, sans-serif;	font-size: 12px; ">Password:</div></td>
  </tr>
  <tr>
    <td width="100">&nbsp;</td>
    <td width="300"><div style="font-family: Arial, Helvetica, sans-serif;	font-size: 12px; ">{password}</div></td>
  </tr>
  <tr>
    <td height="30" colspan="2"><hr size="1" color="#FF0000"></td>
  </tr>
  <tr>
    <td colspan="2"><div align="justify" style="font-family: Arial, Helvetica, sans-serif;	font-size: 12px;  "><strong>Nota:</strong> esta password foi gerada autom&aacute;ticamente, no pedido de recupera&ccedil;&atilde;o de password, para alterar a password, autentique-se no {site_name} e altere a password em <strong><em>o meu perfil</em></strong></div></td>
  </tr>
</table>