<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="bioclimatica/style.css" />
</head>

<body>
<div id="wrapper">
  <div id="one">
     <h1>BioClimática</h1>
  </div>
   
   <div id="two">
     <a href="">Bioclimática</a>

  </div>
   
   <div id="three">
     <a href="#">Sobre nós</a>

  </div>
   
   <div id="four">
     <a href="#">Contacto</a>

   </div>
  <div id="navigation">
	<div class="navigation">

		<ul>
			<li><a href="http://www.getcsstemplates.com">Free CSS Templates</a></li>
			<li><a href="#">Link Two</a></li>
			<li><a href="#">Link Three</a></li>
			<li><a href="#">Link Four</a></li>
			<li><a href="#">Link Five</a></li>
			<li><a href="#">Link Six</a></li>
		</ul>
       </div>
   </div>
   
   <div id="header">

   </div>
 
  <div id="brdl"></div>

  <div id="col_one">
 <h2>Notícias</h2>

       <h3>Jan.28.07.</h3>
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget ...  </p>
<a href="#">read more</a>
       <h3>Jan.17.07.</h3>
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget ...  </p>
<a href="#">read more</a>
       <h3>Jan.11.07.</h3>
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget ...  </p>
<a href="#">read more</a>
       <h3>Jan.08.07.</h3>
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget ...  </p>
<a href="#">read more</a>

  </div>
   
   <div id="col_two">
     <h2>Carbono Zero</h2>
<img src="bioclimatica/img1.jpg" alt="image 1" />
     <h3>Lorem Ipsum</h3>
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget felis. </p>
				<ul>
				
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
				</ul>  


             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget felis. Vestibulum feugiat lectus ut magna.</p>
<a href="#">read more</a>

  </div>
   
   <div id="col_three">
     <h2>Sustentabilidade</h2>
     <img src="bioclimatica/img2.jpg" alt="image 2" />
     <h3>Lorem Ipsum</h3>
             <p>Lorem ipsum dolor sit amet, consectetuer elit. Donec rutrum neque eu nisl. Morbi eget felis. Vestibulum feugiat lectus ut magna.Morbi eget felis.</p>
<img src="bioclimatica/img3.jpg" alt="image 3" />
     <h3>Lorem Ipsum</h3>
             <p>Lorem ipsum dolor sit amet, consectetuer elit. Donec rutrum neque eu nisl. Morbi eget ...</p>
<a href="#">read more</a>
  </div>
   
   <div id="col_four">
     <h2>Energias</h2>
 <img src="bioclimatica/img4.jpg" class="floatTL" alt="image one" />
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget felis. Vestibulum feugiat lectus ut magna. Ut interdum ipsum nec metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; <a href="">Ut eget augue</a> in velit elementum bibendum.</p>

     <img src="bioclimatica/img5.jpg" class="floatTR" alt="image one" />
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget felis. Vestibulum feugiat lectus ut magna. Ut interdum ipsum nec metus. <a href="">Vestibulum ante ipsum</a> primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eget augue in velit elementum bibendum. </p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget felis. Vestibulum feugiat lectus ut magna. Ut interdum ipsum nec metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. </p>

   </div>

   <div id="footer"> <p><a href="http://validator.w3.org/">Valid CSS</a> :: <a href="http://validator.w3.org/">Valid XHTML</a>  Copyright &copy; 2008 </p> </div>

</div>
   
</body>
</html>
