<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>Esconde o meu Email</title>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
<link rel="stylesheet" href="escondemail/style.css" type="text/css" />
</head>
<body>
<div id="container">
  <div id="header"> <img id="logo" style="width: 65px; height: 100px;" alt="" src="escondemail/logo.gif" />
    <h1>Escondemail.com</h1>
    <h2>Oculte o seu email em forums, Chats e Blogs</h2>
  </div>
  <div id="menu">
    <ul>
    </ul>
  </div>
  <div class="divider"> </div>
  <div id="leftcolumn">
{cell-0}
  </div>
  <div id="rightcolumn">
{cell-1}
  </div>
  <div class="divider"> </div>
  <div id="footer">
    <p>Copyright &copy; 2008 <a href="http://www.moradadigital.com">MoradaDigital</a>. All rights reserved.</p>
  </div>
</div>
</body>
</html>
