/* 
	project: internet sharing template
   	author: luka cvrk (www.solucija.com) 
								*/
   
body { padding: 0; margin: 0; font: 0.7em Tahoma, Arial, sans-serif; line-height: 1.6em; background: #fff; color: #454545; }

/* links */
a { color: #003B6E; background: inherit; }
a:hover { color: #9EC068; background: inherit; }	

/*Table like DIV tags*/
.dtable {
    display:table;
	margin:10px auto;
	border-spacing:10px;
	width:100%;
}
.row {
    display:table-row;
}
.row div {
    display:table-cell;
}

/*end of Table like DIV tags*/


/* headings */
/* headings */
h1 { font: bold 2.5em "Arial", Sans-Serif; margin: 0; letter-spacing: -1px; }
h2 { font: bold 2em Arial, Sans-Serif; margin: 0; padding: 0; }
h3 { font: bold 1.5em Arial, Sans-Serif; margin: 0; padding: 0; }
h4 { font: bold 1em Arial, Sans-Serif; margin: 0; padding: 0; }

h1 a, h2 a, h3 a, h4 a { color: #2b2b2b;  text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover { color: #2b2b2b;  }
.title { color: #808080; background: #fff; }

/* lists and form elements */
ul { margin: 0; padding : 0; list-style : none; }

.form {
	margin:0px 0px 0px 0px;
	font: 1.0em Tahoma, Arial, sans-serif;
}
.form .text {
	border:solid 1px #B6A278;
	background: #F9F8F2;
	padding:0px;
	color:#000000;
}

.form label {
	margin-bottom:3px;
	margin-top:10px;
}

.form .text:hover{
	background:#FFFFFF;
	border: solid 1px #000000;
}
.form .text:focus {
	background:#F4EFE3; border: solid 1px #000000;
}
.form .button { 
	border:solid 1px #CBBA96;
	background:#EAE3D5;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.form .button:hover {
	border:solid 1px #CBBA96;
	background: #EDECD1;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

/* content holder */
#content { margin: 10px auto; width: 960px; }

/* header */
#header { height: 75px; }
#logo { padding: 15px 0 0 8px; }
#logo p { margin: 0; padding: 0 0 0 10px; color: #808080; background: #fff; }
#top_info { float: right; width: 570px; margin: 20px 5px 0 0; text-align: right; }

/* horizontal tabbed menu */	
#tabs { background: #fff url(bigbox.gif) no-repeat top left; color: #000;  height: 64px; text-align: center; padding: 0 0 0 20px; }
#tabs li { display: inline; height: 45px; }
#tabs li a { float: left; background: #fff url(barbg.gif) no-repeat; color: #808080; padding: 7px 0; width: 82px; text-align: center; font-weight: bold; text-decoration: none; }
#tabs li a:hover { background: #fff url(barcurrent.gif) no-repeat; color: #000; }	
#tabs li a.current { background: #fff url(barcurrent.gif) no-repeat; color: #2C71AE; }	
.key { text-decoration: underline; }

/* search form */
#search {
	float:left;
	clear: both;
	color: #000;
	background: #fff url(searchbg.gif) no-repeat;
	padding: 14px 0px 20px 5px;
	width: 500px;
	margin: 5px 0 0 0;
}
	#search p { padding: 0; margin: 0; }


/* grey subheader */
.gboxtop { clear: both; height: 8px; background: #dedede url(gboxtop.gif) no-repeat; color: #000; }
.gbox { background: #dedede url(gbox.gif) no-repeat bottom left; color: #444; padding: 1px 13px 7px 13px; margin: 0 0 20px 0; }
.gbox p { padding: 7px 0; margin: 0;}


/* left side */
.left {
	float: right;
	width: 100%;
	margin: 0 0 10px 0;
}
	.left_articles {
		margin: 0 20px 15px 10px;
		padding: 10px 0 0 0;
		text-align: justify;
		border-bottom: 1px dotted #ccc;
		color: #000;
		background: #fff;
	}
	
	.calendar { height: 50px; float: left; background: #fff url(calendar.gif) no-repeat; width: 50px; padding: 5px 0 0 9px;  color: #808080;}
	.calendar p { padding: 0; margin: 0; }
	.description { padding: 0 0 2px 0; margin: 0 10px 5px 0; border-bottom: 1px dotted #ccc; }
	.thumbnail { float: left; margin: 0 18px 8px 0; border: 1px solid #dedede; }

	.boxtop { height: 19px; background: #fff url(boxtop.gif) no-repeat; color: #000; }
	.box { background: #fff url(box.gif) no-repeat bottom left; color: #5b5b5b; padding: 0 10px 15px 10px; margin: 0 0 10px 0; }
	.box p { padding: 0; margin: 0;}
	.image { float: left; margin: 0 9px 3px 0; }

/* bottom thirds */
.thirds { float: left; width: 203px; background: #eee; margin: 0 12px 0 0; color: #5d5d5d; }
	.smallboxtop { height: 14px; background: #fff url(smallboxtop.gif) no-repeat; color: #000; }
	.smallbox { background: #fff url(smallbox.gif) no-repeat bottom left; color: #444; padding: 1px 10px 10px 10px;  }
	.smallbox p { padding: 0; margin: 0; }

	
/* misc */
.buttons { text-align: right; padding: 4px 3px 0 0;}
.left_articles .buttons { float: right; height: 20px; }
.bluebtn { background: #488EB2 url(bluebtn.gif) no-repeat; width: 100px; padding: 1px 16px 5px 16px; color: #fff; text-decoration: none; }
.greenbtn { background: #488EB2 url(greenbtn.gif) no-repeat; padding: 1px 17px 5px 16px; color: #fff; text-decoration: none; }
.bluebtn:hover, .greenbtn:hover { background: #488EB2 url(hoverbtn.gif) no-repeat; color: #fff; }

/* footer  */
.footer { clear: both; text-align: center; line-height: 1.8em; padding: 10px 0 10px 0; border-top: 1px solid #ccc; }
