<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{title}</title>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
<div id="container">
  <div id="top">
    <h1>Windows7</h1>
    <p> Hot News </p>
  </div>
  <div id="navigation">
    <div id="menu">
      <ul>
{menu}
      </ul>
    </div>
    <div id="subnav">
		{cell-1}
    </div>
  </div>
  <div id="content">
    <div id="content_top">
	{cell-2}
    </div>
    <div id="post">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
  <div id="leftnav">
  {cell-3}
  </div>
  <div class="cleaner"> &nbsp; </div>
  <div id="box" class="teaser-box">
    <div class="box1 story-ref">
      <div class="snap">
        <h3><img src="images/bottom.png" alt="" />Help/Support</h3>
        <ul class="headline-last">
          <li> <a href="">Contact Media</a> </li>
          <li> <a href="">Privacy</a> </li>
          <li> <a href="">Credits</a> </li>
          <li> <a href="">Advertise with us</a> </li>
          <li> <a href="">Terms of use</a> </li>
        </ul>
      </div>
    </div>
    <div class="box2 story-ref">
      <div class="snap">
        <h3><img src="images/bottom.png" alt="" />Your Media</h3>
        <ul class="headline-last">
          <li> <a href="">Register</a> </li>
          <li> <a href="">Login</a> </li>
        </ul>
      </div>
    </div>
    <div class="box3 story-ref">
      <div class="snap">
        <h3><img src="images/bottom.png" alt="" />More on Media</h3>
        <ul class="headline-last">
          <li> <a href="">Discussions index</a> </li>
          <li> <a href="">Media jobs</a> </li>
          <li> <a href="">Media podcasts</a> </li>
          <li> <a href="">Stream videos</a> </li>
          <li> <a href="">Discussion forums</a> </li>
        </ul>
      </div>
    </div>
    <div class="box4 story-ref">
      <div class="snap">
        <h3><img src="images/bottom.png" alt="" />Directory &amp; discussions</h3>
        <ul class="headline-last">
          <li> <a href="">Radio</a> </li>
          <li> <a href="">Television</a> </li>
          <li> <a href="">Newspapers</a> </li>
          <li> <a href="">Magazines</a> </li>
          <li> <a href="">Media owners</a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <p> &#8226;Design by <a href="http://gendesigns.blogspot.com/">Gen</a> &middot;&copy; <a href="http://www.moradadigital.com/">MoradaDigital</a> 2008 </p>
  </div>
</div>
</body>
</html>
